* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 70vh;
    border: 1px solid black;
    padding: 10px 0px;
}

.hidden {
    display: none;
}

.btn {
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

#next-button {
    width: 220px;
    margin-bottom: 10px;
    padding: 10px;
}
#options-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#options-container > button {
    margin: 4px;
}

#question-container {
    padding: 10px;
}

.right {
    background-color: green;
}

.wrong {
    background-color: red;
}

#score-container {
    width: 40vw;
    height: 30vh;
    border: 1px solid lightgrey;
    text-align: center;

}

#score-container > h2 {
    margin: 10px 0;
}

#score-container > p {
    font-size: 22px;
}

#score-container > button {
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}